<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mn-4">
        <div class="col">
            <h1>Hey, Welcome {{user}}</h1>
        </div>

        <div class="col text-end">
            <a href="/dashboard/add" class="btn btn-primary">Add Note</a>
        </div>
    </div>

    {{#if alertMessage.deleteNoteUpdate}}
    <div class="alert alert-danger mt-2 text-center" id='success-alert' role="alert">
        {{alertMessage.deleteNoteUpdate}}
    </div>
    {{/if}}

    {{#if alertMessage.updateNoteAlert}}
    <div class="alert alert-success mt-2 text-center" id='success-alert' role="alert">
        {{alertMessage.updateNoteAlert}}
    </div>
    {{/if}}

    {{#if alertMessage.addNoteAlert}}
    <div class="alert alert-success mt-2 text-center" id='success-alert' role="alert">
        {{alertMessage.addNoteAlert}}
    </div>
    {{/if}}

    <div class="row">

         {{#each notes}}
        <div class="col-sm-3 mb-4">
           
            <div class="card border-primary" style="min-height: 210px;">
                <a href="/dashboard/item/{{_id}}" class="card-body text-decoration-none">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text"> {{body}}</p>
                </a>
            </div>
            

            {{!-- <div class="row">
                <div class="col-3">
                    <img src="image" alt="image">
                </div>
            </div> --}}

        </div>
        {{/each}}

    </div>


</div>

<script>
    hideAlert('success-alert',3000);
</script>